body{ margin: 0; }

.clickable {
   cursor: pointer;
}
.hoverable {
   cursor: zoom-in;
}

.form-group.query-group {
  float: left;
  height: 200px;
  max-height: 200px;
  width: 200px;
  padding: 10px;
  overflow-y: scroll;
}

.query-group ul {
  list-style: none;
  padding-left: 0;
}

.query-group ul li:hover {
  background: #ccc;
}

.query-group ul li.selected {
  background: #8497b7;
}
